<div class="card mb-3" style="max-width: 540px; margin: 20px auto;">
  <div class="row no-gutters">
    <div class="col-md-4">
    {% if page.image  %}
      <a href="{% url 'blog:nba_detail' page.slug %}">
        <img src="{{ page.image.url }}" class="card-img" alt="...">
      </a>
    {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
         {% if request.user.is_staff %}
          <div class="statuBlock" style="position: absolute; top: 0; right: 6px;">
           {% if page.public %}
            <p class="statuBlock_Publick" style="font-weight: 700; color: green;"> опубликовано </p>
           {% endif %}
           {% if not page.public %}
            <p class="statuBlock_noPublick" style="font-weight: 700; color: red;"> не опубликовано </p>
           {% endif %}                  
          </div>
         {% endif %}
        <a href="{% url 'blog:nba_detail' page.slug %}">
          <h5 class="card-title">{{ page.title }}</h5>
        </a>
        <p class="card-text">{% autoescape off %} {{ page.short_description|slice:":200"  }}... {% endautoescape %}</p>
        <p class="card-text">
            <small class="text-muted">
                {% with page.tags as tags %}
                    {% include "blog/components/tag_list.html" %}
                {% endwith %}
            </small>
        </p>
      </div>
    </div>
  </div>
</div>
